
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    margin-left: 220px; 
    background-image: url('../img/gatinhos.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #010b01;
}


.menu-lateral {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    background-color: rgba(252, 213, 206, 0.8); 
    padding-top: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    backdrop-filter: blur(1px); 
}

.menu-lateral nav a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #6a3e2f;
    padding: 12px 18px;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 50px;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 20px;
}

.menu-lateral nav a:hover {
    background-color: rgba(160, 82, 45, 0.15);
    transform: translateX(1px);
}


header {
    text-align: center;
    padding: 10px;
   background: rgba(255, 255, 255, 0.85);
    color: #3a2c29;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px; 
    box-shadow: 0 4px 12px rgba(0,0,0,0.1); 
}   


.conteudo-central {
    background: rgba(255, 255, 255, 0.85);
    padding: 80px;
    margin: 10px auto;
    border-radius: 10px;
    max-width: 1160px;
    text-align: center;
    font-size: 32px;     
  font-weight: bold;
  color: #3a2c29;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

.conteudo-central p {
  font-size: 25px;      
  color: #4a3c39;
}


img {
    max-width: 95%;
    height: auto;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.05);
    border-radius: 10px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
}
th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
th {
    background-color: rgb(252, 213, 206);
    color: white;
}


footer {
    text-align: center;
    padding: 15px;
    background-color: rgba(252, 213, 206, 0.8);
    margin-top: 40px;
    font-size: 14px;
    color: #3a2c29;
    border-top: 1px solid #eacac1;
    border-radius: 10px;
}


html {
    scroll-behavior: smooth;
}
